.navbar-brand {
  font-family: "Great Vibes", cursive;
  font-weight: 1000;
  font-style: normal;
  font-size: larger;
}

.homebody{
  background-image: url('images/Al-Mamlakah.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.cover-container{
  margin-top: 50px; 
  padding: 200px 150px;
  text-align: center;
  color: #ffffff;
}

